div.outer-row.feeds
    div.container-fluid
        div.row
            div.col-sm-8.col-md-6.feed.blog
                header.feed--title
                    a(href="#") The Health Library&nbsp;›
                section.feed--output
                    div.post.row.post-266.type-post.status-publish.format-standard.hentry.category-uncategorized
                        div.col-sm-3
                            a(href="#"): img(src="http://placehold.it/300x200" alt="4 Degrees of Integration")
                        div.col-sm-9
                            div.meta
                                span.categories
                                    a(href="#") Amet Pharetra
                            span.post--title
                                    a(href="#") Integer posuere erat a ante venenatis dapibus posuere velit aliquet
                            div.meta
                                span.author
                                    i.fa.fa-user: i 
                                        | orbiteers
                    div.post.row.post-266.type-post.status-publish.format-standard.hentry.category-uncategorized
                        div.col-sm-3
                            a(href="#"): img(src="http://placehold.it/300x200" alt="4 Degrees of Integration")
                        div.col-sm-9
                            div.meta
                                span.categories
                                    a(href="#") Amet Pharetra
                            span.post--title
                                    a(href="#") Integer posuere erat a ante venenatis dapibus posuere velit aliquet
                            div.meta
                                span.author
                                    i.fa.fa-user: i 
                                        | orbiteers
                    div.post.row.post-266.type-post.status-publish.format-standard.hentry.category-uncategorized
                        div.col-sm-3
                            a(href="#"): img(src="http://placehold.it/300x200" alt="4 Degrees of Integration")
                        div.col-sm-9
                            div.meta
                                span.categories
                                    a(href="#") Amet Pharetra
                            span.post--title
                                    a(href="#") Integer posuere erat a ante venenatis dapibus posuere velit aliquet
                            div.meta
                                span.author
                                    i.fa.fa-user: i 
                                        | orbiteers
            div.col-sm-8.col-md-6.feed.blog
                header.feed--title
                    a(href="#") FAQs&nbsp;›
                section.feed--output

