footer.outer-row
    div.cta
        div.container-fluid
            div.row

    div.footer
        div.container-fluid
            div.row
                div.hidden-xs.hidden-sm.col-md-2.logo
                    a(href="http://doctorsthatdo.dev/" rel="home")
                        img(src="img/aoa_footer_logo.jpg" alt="Orbit Media WordPress Sandbox" scale="0")

                div.col-sm-4.col-md-3.get-in-touch
                    div.address
                        h3 AOA Headquarters
                        div.contact
                            div.contact--toll
                                div Toll-Free Phone: 800.621.1773
                            div.contact--phone
                                div Phone: 312.202.8000
                            div.contact--fax
                                div Fax: 312.202.8200


                div#footer-links.col-sm-4.col-md-3      
                    ul#menu-primary-menu-1.menu.quick
                        li.first-menu-item.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-7552
                            a(href="#") What is a DO?
                        li.first-menu-item.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-7552
                            a(href="#") The DO Difference
                        li.first-menu-item.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-7552
                            a(href="#") Health Library
                        li.first-menu-item.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-7552
                            a(href="#") Hot Topics
                        li.first-menu-item.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-7552
                            a(href="#") Contact

                div.col-md-4.newsletter
                    h3 Newsletter Sign-up
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.

script(src='js/bundle.js')
script(src='http://localhost:35729/livereload.js')

