header.outer-row
    nav.navbar
        div.container-fluid

            div.navbar-header
                button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primaryNav")
                    span.sr-only Toggle navigation
                    span.text Menu
                    span.fa-bars.fa
                a.navbar-brand(href="http://doctorsthatdo.dev/" rel="home"): img(src="img/aoa_logo.png" alt="Doctors That Do")

            div#primaryNav.collapse
                div.hidden-md.hidden-lg
                    form(role="search" method="get" class="searchform form-inline" action="#")
                        div.form-group
                            label.sr-only.screen-reader-text(for="s")
                            input.form-control.default(type="text" value="" name="s" id="s")
                            span.input-group-btn
                                button.btn.searchGo(type="submit")
                                    i.fa.fa-search
                                    span.sr-only Search

                ul#menu-primary-menu.menu
                    li#menu-item-7552.first-menu-item.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-7552.dropdown
                        a(title="What is a DO?" href="http://doctorsthatdo.dev/do/") What is a DO? #[span.caret.dropdown-toggle(data-toggle="dropdown")]

                        ul.dropdown-menu(role="menu" class="dropdown-menu")
                            li#menu-item-7555.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-7555 
                                a(title="Osteopathic Manipulative Treatment" href="http://doctorsthatdo.dev/do/osteopathic-manipulative-treatment/") Osteopathic Manipulative Treatment
                            li#menu-item-7554.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-7554 
                                a(title="DO Licensure" href="http://doctorsthatdo.dev/do/licensure/") DO Licensure
                            li#menu-item-7553.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-7553
                                a(title="DO Certification" href="http://doctorsthatdo.dev/do/certification/") DO Certification

                    li#menu-item-7549.classmenu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-7549.dropdown
                        a(title="The DO Difference" href="http://doctorsthatdo.dev/difference/"): The DO Difference #[span.caret.dropdown-toggle(data-toggle="dropdown")]
                        ul(role="menu" class="dropdown-menu")
                            li#menu-item-7550.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-7550
                                a(title="Choosing a Physician" href="http://doctorsthatdo.dev/difference/choosing-physician/") Choosing a Physician
                            li#menu-item-7551.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-7551
                                a(title="Whole-Person Care" href="http://doctorsthatdo.dev/difference/whole-person-care/") Whole-Person Care
                    li#menu-item-790.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-790
                        a(title="Health Library" href="http://doctorsthatdo.dev/health-library/") Health Library
                    li#menu-item-7556.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-7556
                        a(title="Hot Topics" href="http://doctorsthatdo.dev/category/hot-topics/") Hot Topics
                    li#menu-item-791.last-menu-item.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-791
                        a(title="Contact" href="http://doctorsthatdo.dev/contact/") Contact

                button.search.button.hidden-xs.hidden-sm: i.class.fa.fa-search

