doctype html
html(lang="en-US")
    head
        include head
    body.page.home
        include header
        
        div.outer-row
            div.hero
                div.container-fluid

        div#pageBlocks
            div.page-block.two_column_block 
                div.container-fluid 
                    div.row
                        div.inner
                        div.block.image
                            div.wrapper.table
                                div.cell
                                    div.img-wrapper.circle
                                        img(src="http://placekitten.com/600/360")
                                    div.media-caption

                        div.block.text
                            div.wrapper.table
                                h2 Ullamcorper sem pellentesque 
                                p Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui.
                                a(href="#") Learn more.


            div.page-block.two_column_block.reverse
                div.container-fluid 
                    div.row
                        div.inner
                        div.block.image
                            div.wrapper.table
                                div.cell
                                    div.img-wrapper.circle
                                        img(src="http://placekitten.com/600/360")
                                    div.media-caption

                        div.block.text
                            div.wrapper.table
                                h2 Integer posuere erat a ante
                                p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod.
                                a(href="#") Learn more.
        
        div.outer-row.feeds
            div.container-fluid
                div.row
                    div.col-sm-8.col-md-6.feed.blog
                        header.feed--title
                            a(href="#") The Health Library&nbsp;&raquo;
                        section.feed--output
                            div.post.row.post-266.type-post.status-publish.format-standard.hentry.category-uncategorized
                                div.col-sm-3
                                    a(href="#"): img(src="http://placehold.it/300x200" alt="4 Degrees of Integration")
                                div.col-sm-9
                                    div.meta
                                        span.categories
                                            a(href="#") Amet Pharetra
                                    span.post--title
                                            a(href="#") Integer posuere erat a ante venenatis dapibus posuere velit aliquet
                                    div.meta
                                        span.author
                                            i.fa.fa-user: i 
                                                | orbiteers
                            div.post.row.post-266.type-post.status-publish.format-standard.hentry.category-uncategorized
                                div.col-sm-3
                                    a(href="#"): img(src="http://placehold.it/300x200" alt="4 Degrees of Integration")
                                div.col-sm-9
                                    div.meta
                                        span.categories
                                            a(href="#") Amet Pharetra
                                    span.post--title
                                            a(href="#") Integer posuere erat a ante venenatis dapibus posuere velit aliquet
                                    div.meta
                                        span.author
                                            i.fa.fa-user: i 
                                                | orbiteers
                            div.post.row.post-266.type-post.status-publish.format-standard.hentry.category-uncategorized
                                div.col-sm-3
                                    a(href="#"): img(src="http://placehold.it/300x200" alt="4 Degrees of Integration")
                                div.col-sm-9
                                    div.meta
                                        span.categories
                                            a(href="#") Amet Pharetra
                                    span.post--title
                                            a(href="#") Integer posuere erat a ante venenatis dapibus posuere velit aliquet
                                    div.meta
                                        span.author
                                            i.fa.fa-user: i 
                                                | orbiteers
                    div.col-sm-8.col-md-6.feed.blog
                        header.feed--title
                            a(href="#") FAQs&nbsp;&raquo;
                        section.feed--output

        include footer
