doctype html
html(lang="en-US")
    head
        include head
    body.page.home
        include header
        
        div.outer-row
            div.hero
                div.container-fluid

        include page-blocks

        include feeds

        include footer
