doctype html
html
    head
        include head
    body
        div.wrap--outer
            div.wrap--inner
                include header

                div.row
                    div.size-1-of-1
                        div.hero
                            div.hero__image
                                img(src="http://placehold.it/1046x562")
                            div.hero__overlay
                                div.hero__content
                                    div.hero__title Find Your DO
                                    form.find-your-do#findYourDo(method="GET" action="http://lookup.dev/physicians/search" accept-charset="UTF-8" name="findYourDo")
                                        input#city(name="city" type="hidden")
                                        input#state(name="state" type="hidden")
                                        input#zip(name="zip" type="hidden")
                                        input#lat(name="lat" type="hidden")
                                        input#lon(name="lon" type="hidden")
                                        input#sCode(name="s_code" type="hidden")
                                        input#specialty(placeholder="Search by name or specialty" name="specialty" type="text")
                                        input#location(placeholder="City, state or zip" name="location" type="text")
                                        input(type="submit" value="Go")

                                 
        include footer
