doctype html
html(lang="en-US")
    head
        include head
    body.page.home
        include header

        //-include tt-demo

        div.outer-row
            div.hero
                div.hero__image
                    div.img-wrapper
                        img(src="http://placekitten.com/1400/600")
                div.hero__overlay
                    div.container-fluid
                        div.row
                            div.col-sm-12
                                div.hero__content
                                    div.hero__body 
                                        p 
                                        | Doctors of Osteopathic Medicine are complete physicians and practice in every medical specialty. A D.O. is trained to always first consider the person within the patient.
                            div.col-sm-12
                                div.hero__title Find Your DO
                                form.find-your-do#findYourDo(method="GET" action="http://lookup.dev/physicians/search" accept-charset="UTF-8" name="findYourDo")
                                    div.row
                                        div.col-sm-5
                                            div.form-group
                                                input#specialty.form-control(placeholder="Name or specialty" name="specialty" type="text")
                                        div.col-sm-5
                                            div.form-group
                                                input#location.form-control(placeholder="City, state or zip" name="location" type="text")
                                        div.col-sm-2
                                            div.form-group
                                                input(type="submit" value="Go")
                            //-div.hero__image--placeholder

                                 
        include page-blocks
        include feeds
        include footer
