div#pageBlocks
    div.page-block.two_column_block 
        div.container-fluid 
            div.row
                div.inner
                div.block.image
                    div.wrapper.table
                        div.cell
                            div.img-wrapper.circle
                                img(src="http://placekitten.com/600/360")
                            div.media-caption

                div.block.text
                    div.wrapper.table
                        h2 Ullamcorper sem pellentesque 
                        p Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui.
                        a(href="#") Learn more.


    div.page-block.two_column_block.reverse
        div.container-fluid 
            div.row
                div.inner
                div.block.image
                    div.wrapper.table
                        div.cell
                            div.img-wrapper.circle
                                img(src="http://placekitten.com/600/360")
                            div.media-caption

                div.block.text
                    div.wrapper.table
                        h2 Integer posuere erat a ante
                        p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod.
                        a(href="#") Learn more.

