doctype html
html
    head
        include head
    body.page
        include header

        div#interior
            div.container-fluid
                div.hasRightCol.interior-content
                    div#fydResults
                        div#fydResultsMeta
                        include search-form

        include footer
        script#fydResultsMetaTemplate(type="text/template")
            <%= count %> <%= who %> near <%= city %>, <%= state %>
