doctype html
html
    head
        include head
    body.page
        include header

        div#interior
            div.container-fluid
                include search-form
                div.hasRightCol.interior-content
                    div#right
                        div.row
                            div#content.main-content
                                div#fydResults
                                
                            div#sidebar
                                include sidebar-map
                                include sidebar-image
                                div.sideBar_Spacer

        include footer
        script#fydResultsMetaTemplate(type="text/template")
            <%= count %> <%= who %> near <%= city %>, <%= state %>

        script#fyd
