div.row.fyd
    div.col-md-3.hero--title
        | FIND YOUR DO
    div.col-md-9.hero--form
        form#findYourDo(action="")
            div.hero--form--inner
                div.row
                    div.col-sm-6.location
                        input#specialty(placeholder="Name or specialty" name="q" type="text")
                    div.col-sm-6.speciality
                        input#location(placeholder="City, state or zip" name="location" type="text")
            span.hero--form--button
                button GO #[i.fa.fa-angle-double-right]
