div.sideBar_ElementHolder.sideBar_MapElementHolder
    //-div.sideBar_ImageHolder
        //-img(src="http://placehold.it/600x420")
    div.sideBar_GoogleMapHolder
        div#googleMapWrapper.desktop-only
            img(src="http://placehold.it/600x420")
    div.sideBar_MapList
        div.sideBar_MapListAddress(data-lat="41.8936651" data-lng="-87.6237211" data-map_id="814")
            div.sideBar_MapAddressElement.nameText#sideBar_ClickableElement_814
                | AMERICAN OSTEOPATHIC ASSOCIATION
            div.sideBar_MapAddressElement.addressText1
                | 142 E. Ontario St.
            div.sideBar_MapAddressElement.addressText2
                | 
            div.sideBar_MapAddressElement.cityStateZipText
                | Chicago, IL 60611-2864
            div.sideBar_MapAddressElement.directionsButton.mobileOnly
                a(href="http://maps.google.com/maps?hl=en&amp;f=d&amp;daddr=142+E.+Ontario+St.+Chicago%2C+IL+60611-2864" class="button" target="_blank") Get Directions
            div.sideBar_MapAddressElement.phoneText.desktopOnly
                | General Phone: 1.312.202.8000
            div.sideBar_MapAddressElement.phoneText.mobileOnly
                a(href="tel://1.312.202.8000" class="button") Call Now
            div.sideBar_MapAddressElement.directionsText.desktopOnly
                a(href="http://maps.google.com/maps?hl=en&amp;f=d&amp;daddr=142+E.+Ontario+St.+Chicago%2C+IL+60611-2864" target="_blank") Driving Directions
