script#fydResultsMetaTemplate(type="text/template")
    | <div class="row fyd-results__report">
    |     <div class="col-sm-12">
    |         <div class="fyd-results__head"><%= count %> <%= who %> near <%= city %>, <%= state %></div>
    |         <div class="fyd-results__subhead">Who practice <%= specialty %></div>
    |     </div>
    | </div>
    | <div class="row">
    |     <div class="col-sm-12">
    |         <div class="fyd-results__filter">
    |             <div class="fyd-results__tags pull-left">
    |                 <span class="fyd-results__tag">Lorem 
    |                     <span data-role="remove"></span>
    |                 </span>
    |                 <span class="fyd-results__tag">Ipsum 
    |                     <span data-role="remove"></span>
    |                 </span> 
    |             </div>
    |             <div class="fyd-results__sort pull-right">
    |                 <label class="">Sort by</label>
    |                 <select class="fyd-results__select form-control">
    |                     <option value="distance">Distance</option>
    |                     <option value="name">Name</option>
    |                     <option value="experience">Experience</option>
    |                 </select>
    |             </div>
    |         </div>
    |     </div>
    | </div>
