$input-border-width: 2px;
$input-border-color: rgba($gray,.1);

%focus {
    border-width: $input-border-width; 
    border-style: solid ;
    border-color: rgba($cyan,1);
    outline: 0;
    @include transition-property(border);
    @include transition-duration(.3s);
}

%input-font-size {

}

%tt-font-size {

}

.find-your-do {

    text-align: center;

    @media screen and (min-width: $screen-sm-min) {
        text-align: left;
        /*display: inline;*/
    }
    

    form {
        display: inline;    
        padding: 1em;
        margin: 1em;
        background-color: $secondarycolor;  
        border-width: $input-border-width;
        border: 1px solid $accentcolor;
    }
     
    textarea {
      line-height: 1.4;
    
      &:focus {
        @include transition-property(border);
        @include transition-duration(.2s);
        border: 1px solid $primarycolor;
        outline: 0;
      }
    }
    
    input {
      border-radius: 0;
      vertical-align: middle;
    }
    
    input, textarea {
        padding-top: .5em;
        padding-right: .5em;
        padding-bottom: .5em;
        padding-left: .75em;
        /*margin-bottom: 1em;*/
        margin-bottom: 0;
        /*margin-right: .5em;*/
        /*width: 28%;*/
        /*width: 15em;*/
        width: 100%;
        height: 3.6875em;
        font-size: 1em;
        /*display: inline-block;*/
        border-left-style: solid;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-width: $input-border-width;
        border-color: $input-border-color;
        color: $fontcolor;

        @media screen and (min-width: $screen-sm-min) {
        }

        @media screen and (min-width: $screen-md-min) {
            font-size: 1.5em;
        }
    
        &[type='text']:focus {
          @extend %focus;
        }

        &[type='submit'] {
            width: 100%;
            margin-right: 0;
            text-transform: uppercase;
            font-weight: $fontbold;
            /*font-size: 1.125em;*/
            letter-spacing: 1px;
            color: $white;
            border: none;
            background: linear-gradient(top, $primarycolor 0%, #ed9e00 100%);
            box-shadow: 2px 2px 5px -2px rgba(0,0,0,.2);

            @media screen and (min-width: $screen-sm-min) {
                width: 6.5em;
            }
        }
     
    
    } // input
    
    hr {
      margin-bottom: 1.6875em;
      margin-top: 3em;
      border: 0;
      height: 0;
      border-top: 1px solid $lightgray;
    }

}

