%focus {
    border: 1px solid $primarycolor;
    outline: 0;
    @include transition-property(border);
    @include transition-duration(.2s);
}

.find-your-do {

    text-align: center;

    form {
      padding: 1em;
      margin: 1em;
      background-color: $secondarycolor;  
      border: 1px solid $accentcolor;
    }
     
    textarea {
      line-height: 1.4;
    
      &:focus {
        @include transition-property(border);
        @include transition-duration(.2s);
        border: 1px solid $primarycolor;
        outline: 0;
      }
    }
    
    input {
      vertical-align: middle;
    }
    
    input, textarea {
        padding: .5em;
        margin-bottom: 1em;
        margin-right: .5em;
        width: 37%;
        height: 3em;
        font-size: 1em;
        /*display: inline-block;*/
        border-left-style: solid;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: $gray;
        color: $fontcolor;
    
        &[type='text']:focus {
          @extend %focus;
        }

        &[type='submit'] {
            width: 10%;
            color: $white;
            background: $primarycolor;
        }
     
    
    } // input
    
    hr {
      margin-bottom: 1.6875em;
      margin-top: 3em;
      border: 0;
      height: 0;
      border-top: 1px solid $lightgray;
    }

}

