.fyd {

    &__form {
        

        &--inside {
            background-color: #f5f5f5;
        }

    }

}

.fyd-results {
    &__name {
        margin-top: 0;
        margin-bottom: .3571428571em;
        /*font-size: 1.142857143em;*/
        font-weight: 600;
        text-transform: uppercase;
        color: $primarycolor;
    }

    &__kicker {
        margin-bottom: .5em;
        color: $gray;
    }

    &__report {
        margin-top: 1em;
        font-size: 1.5em;
        font-family: $primaryfont;
        color: $fontcolorlighter;

    }

    &__title {
        margin-bottom: 2em;
    
    }

    &__list {
        list-style-type: none;
        margin-left: 0;
        padding: 0;
    } 

    &__list-item {
        padding-top: 1em;
        padding-right: 0;
        padding-bottom: 1em;
        padding-left: 0;
        margin-bottom: 1em;
        border-bottom: 1px solid $secondarycolor;
        list-style: none;

        &:hover {
            cursor: pointer;

            & a {
                @include transition(all 0.3s ease);
                color: $secondarycolor;
            }
        }
    }

    &__body {
        font-family: $primaryfont;
        line-height: 1.5;
    }

    &__locator {
        background: aliceblue;
    }


    &__head {

        color: $fontcolorlighter;
    }

    &__subhead {
        text-transform: uppercase;
        font-size: .75em;
        font-weight: 400;
        color: $fontcolorlighter;

    }

    &__tag {
        display: inline-block;
        padding-top: .2em;
        padding-right: .6em;
        padding-bottom: .3em;
        padding-left: .6em;
        font-size: 75%;
        font-weight: $fontbold;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        color: $white;
        background-color: $gray;

        &:hover, &:focus {
            cursor: pointer;
        }

        & [data-role="remove"]:after {
            content: "\00d7";
            padding: 0 2px;
        }
    }

}
