.fyd {
}

.fyd-results {
    &__name {
        margin-top: 0;
        margin-bottom: .3571428571em;
        /*font-size: 1.142857143em;*/
        font-weight: 600;
        text-transform: uppercase;
        color: $primarycolor;
    }

    &__kicker {
        margin-bottom: .5em;
        color: $gray;
    }

    &__report {
        /*margin-top: 1em;*/
        font-size: 1.5em;
        font-family: $primaryfont;
        color: $fontcolorlighter;

    }

    &__title {
        margin-bottom: 2em;
    
    }

    &__label {
        font-size: .5833333333em;
    }
    
    &__sort {
        margin-top: 1em;

        @media (min-width: $largestart) { 
            margin-top: 0;
            float: right;
        }

    }

    &__select {
        display: inline;
        width: 80%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

        @media (min-width: $largestart) { 
            width: 64%;
        }

        @media (min-width: $largestart) { 
            width: 64%;
        }

    }

    &__list {
        list-style-type: none;
        margin-left: 0;
        padding: 0;
    } 

    &__list-item {
        padding-top: 1em;
        padding-right: 0;
        padding-bottom: 1em;
        padding-left: 0;
        margin-bottom: 0;
        border-bottom: 1px solid $secondarycolor;
        list-style: none;

        & a {
            display: inline-block;
        }

//        &:hover {
//            cursor: pointer;
//
//            & a {
//                @include transition(all 0.3s ease);
//                color: $secondarycolor;
//            }
//        }
    }

    &__body {
        font-family: $primaryfont;
        line-height: 1.5;
    }

    &__locator {
        background: aliceblue;
    }


    &__head {

        color: $fontcolorlighter;
    }

    &__subhead {
        text-transform: uppercase;
        font-size: .75em;
        font-weight: 400;
        color: $fontcolorlighter;

    }

    &__tag {
        display: inline-block;
        padding-top: .2em;
        padding-right: .6em;
        padding-bottom: .3em;
        padding-left: .6em;
        font-size: 75%;
        font-weight: $fontbold;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        color: $white;
        background-color: #c6c6c6;

        &:hover, &:focus {
            cursor: pointer;
            background-color: $gray;

            @include transition(all .3s ease);
        }

        & [data-role="remove"]:after {
            content: "\00d7";
            padding: 0 2px;
        }
    }

    &__imagecontainer {
        display: inline-block;
        margin-left: .33em;
        opacity: .4;
        height: 23px;
    }

}
