%focus {
      border: 2px solid darken($primarycolor, 10%);
      outline: 0;
      @include transition-property(border);
      @include transition-duration(.2s);
}

.find-your-do {

    input {
    
      padding: .5em;
      margin-bottom: 1em;
      width: 63%;
      border-radius: 5px;
      box-shadow: 0 0 8px rgba($primarycolor,.5);
      border-color: #fff;
      color: $primarycolor;
      font-size: 1.2em;
      display: inline-block;
      border-left-style: solid;
      border-top-style: solid;
      border-right-style: solid;
      border-bottom-style: solid;
      border-width: 2px;
    
      &[type='submit'] {
        left: -.3em;
        position: relative;
        width: 25%;
        float: right;
      }
    
      &[type='text']:focus {
        @extend %focus;
      }
    } // input

}

