/*@import 'normalize';*/
/*@import 'susy';*/
/*@import 'breakpoint';*/
/*@include border-box-sizing;*/
/*
 * COLORS
 */
/*
 * TYPOGRAPHY
 */
/*$primaryfont: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
/*
 * Layout
 */
/*$sitewidth: 53.75em;*/
/*$sitewidth: 860px;*/
/*
 * Misc
 */
/**
 * For hover.css
 */
/**
 * BREAKPOINTS
 * 
 */
/**
 * Bootstrap equivalents
 * 
 */
/*@import 'susy';*/
/*@import 'functions';*/
/*@import 'mixins';*/
/*@import 'helpers';*/
/*@import 'base/index';*/
/*@import 'layout/index';*/
/* line 4, ../../../components/sass/modules/_find-your-do.scss */
.fyd input[type='text']:focus, .fyd textarea[type='text']:focus {
  border-width: 2px;
  border-style: solid;
  border-color: #00eaff;
  outline: 0;
  -moz-transition-property: border;
  -o-transition-property: border;
  -webkit-transition-property: border;
  transition-property: border;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

/* line 21, ../../../components/sass/modules/_find-your-do.scss */
.fyd {
  text-align: center; }
  @media screen and (min-width: 768px) {
    /* line 21, ../../../components/sass/modules/_find-your-do.scss */
    .fyd {
      text-align: left;
      /*display: inline;*/ } }
  /* line 30, ../../../components/sass/modules/_find-your-do.scss */
  .fyd__title {
    margin-bottom: 0;
    font-size: 2em;
    text-align: left;
    text-transform: uppercase;
    color: #fff; }
    @media screen and (min-width: 768px) {
      /* line 30, ../../../components/sass/modules/_find-your-do.scss */
      .fyd__title {
        text-align: right; } }
    @media screen and (min-width: 992px) {
      /* line 30, ../../../components/sass/modules/_find-your-do.scss */
      .fyd__title {
        line-height: 2.5; } }
    /* line 45, ../../../components/sass/modules/_find-your-do.scss */
    #fydResults .fyd__title {
      color: #8f8f8f; }
  /* line 51, ../../../components/sass/modules/_find-your-do.scss */
  .fyd__form {
    display: inline;
    padding: 1em;
    margin: 1em;
    /*background-color: $secondarycolor;  */
    /*border-width: $input-border-width;*/
    /*border: 1px solid $accentcolor;*/ }
  /* line 60, ../../../components/sass/modules/_find-your-do.scss */
  .fyd textarea {
    line-height: 1.4; }
    /* line 63, ../../../components/sass/modules/_find-your-do.scss */
    .fyd textarea:focus {
      -moz-transition-property: border;
      -o-transition-property: border;
      -webkit-transition-property: border;
      transition-property: border;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      border: 1px solid #ffaa00;
      outline: 0; }
  /* line 71, ../../../components/sass/modules/_find-your-do.scss */
  .fyd input {
    border-radius: 0;
    vertical-align: middle; }
  /* line 76, ../../../components/sass/modules/_find-your-do.scss */
  .fyd input, .fyd textarea {
    padding-top: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
    padding-left: .75em;
    margin-bottom: 0;
    width: 100%;
    height: 3.6875em;
    border-left-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgba(143, 143, 143, 0.1);
    font-size: 1em;
    font-family: "gothambook", sans-serif;
    color: #333; }
    @media screen and (min-width: 992px) {
      /* line 76, ../../../components/sass/modules/_find-your-do.scss */
      .fyd input, .fyd textarea {
        font-size: 1.5em; } }
    /* line 105, ../../../components/sass/modules/_find-your-do.scss */
    .fyd input[type='submit'], .fyd textarea[type='submit'] {
      width: 100%;
      margin-right: 0;
      text-transform: uppercase;
      font-weight: 600;
      /*font-size: 1.125em;*/
      letter-spacing: 1px;
      color: #fff;
      border: none;
      background: linear-gradient(to bottom, #ffaa00 0%, #ed9e00 100%);
      box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.2); }
      @media screen and (min-width: 768px) {
        /* line 105, ../../../components/sass/modules/_find-your-do.scss */
        .fyd input[type='submit'], .fyd textarea[type='submit'] {
          width: 6.5em; } }
  /* line 125, ../../../components/sass/modules/_find-your-do.scss */
  .fyd hr {
    margin-bottom: 1.6875em;
    margin-top: 3em;
    border: 0;
    height: 0;
    border-top: 1px solid #ddd; }

/* line 6, ../../../components/sass/modules/_find-your-do-results.scss */
.fyd__form--inside {
  background-color: #f5f5f5; }

/* line 16, ../../../components/sass/modules/_find-your-do-results.scss */
.fyd-results__name {
  margin-top: 0;
  font-size: 1.142857143em;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffaa00; }
/* line 25, ../../../components/sass/modules/_find-your-do-results.scss */
.fyd-results__report {
  font-size: 2.571428571em; }
/* line 29, ../../../components/sass/modules/_find-your-do-results.scss */
.fyd-results__title {
  margin-bottom: 2em; }
/* line 34, ../../../components/sass/modules/_find-your-do-results.scss */
.fyd-results__list {
  list-style-type: none;
  margin-left: 0;
  padding: 0; }
/* line 40, ../../../components/sass/modules/_find-your-do-results.scss */
.fyd-results__list-item {
  padding-top: 1em;
  padding-right: 0;
  padding-bottom: 1em;
  padding-left: 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #00eaff;
  list-style: none; }
/* line 52, ../../../components/sass/modules/_find-your-do-results.scss */
.fyd-results__locator {
  background: aliceblue; }
/* line 57, ../../../components/sass/modules/_find-your-do-results.scss */
#fydResults .fyd-results__search #specialty {
  background-color: fuchsia; }

/* line 3, ../../../components/sass/modules/_find-your-do-detail.scss */
.fyd-detail__specialty {
  text-transform: uppercase;
  color: #ffaa00; }
/* line 8, ../../../components/sass/modules/_find-your-do-detail.scss */
.fyd-detail__name {
  padding-bottom: .6em;
  border-bottom: 1px solid #00eaff; }
/* line 13, ../../../components/sass/modules/_find-your-do-detail.scss */
.fyd-detail__subhead {
  margin-bottom: .5em; }
/* line 17, ../../../components/sass/modules/_find-your-do-detail.scss */
.fyd-detail__email-link {
  color: inherit; }

/* line 1, ../../../components/sass/modules/_hero.scss */
.hero {
  max-height: 700px;
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #6B6551; }
  /* line 12, ../../../components/sass/modules/_hero.scss */
  .hero__body {
    margin-top: 1.5em;
    margin-bottom: 1.25em;
    font-family: "gothambook", sans-serif;
    font-size: 1.3em;
    line-height: 1.7;
    color: #fff; }
    @media screen and (min-width: 768px) {
      /* line 12, ../../../components/sass/modules/_hero.scss */
      .hero__body {
        font-size: 1.785714286em; } }
  /* line 26, ../../../components/sass/modules/_hero.scss */
  .hero__image {
    text-align: center; }
    /* line 29, ../../../components/sass/modules/_hero.scss */
    .hero__image--placeholder {
      background-color: #b3b3b3;
      width: 100%;
      height: 500px; }
  /* line 36, ../../../components/sass/modules/_hero.scss */
  .hero__overlay {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    left: 0;
    right: 0;
    bottom: 0;
    /*top: 0;*/
    width: 100%;
    background-color: rgba(255, 170, 0, 0.7); }
    @media screen and (min-width: 768px) {
      /* line 36, ../../../components/sass/modules/_hero.scss */
      .hero__overlay {
        position: absolute; } }
  /* line 57, ../../../components/sass/modules/_hero.scss */
  .hero__content {
    /*text-align: center;*/
    margin-left: auto;
    margin-right: auto;
    /*width: $sitewidth;*/ }
  /* line 64, ../../../components/sass/modules/_hero.scss */
  .hero__title {
    /*display: inline;*/
    margin-bottom: 1em;
    margin-right: .5em;
    font-family: "gothambook", sans-serif;
    /*text-align: center;*/
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    vertical-align: middle;
    line-height: 1.5;
    color: #fff; }
    @media screen and (min-width: 768px) {
      /* line 64, ../../../components/sass/modules/_hero.scss */
      .hero__title {
        text-align: right; } }

/*@import 'promote';*/
/* line 1, ../../../components/sass/modules/_typeahead.scss */
.twitter-typeahead {
  line-height: 3.5;
  width: 100%; }

/* line 6, ../../../components/sass/modules/_typeahead.scss */
.typeahead-subhead {
  margin-top: 0;
  margin-bottom: 0;
  padding: .125em 1.25em;
  font-family: "gothambook", sans-serif;
  font-size: .75em;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  /*color: $fontcolorlighter;*/
  background-color: #ffaa00; }

/* line 23, ../../../components/sass/modules/_typeahead.scss */
.tt-input {
  /* UPDATE: newer versions use tt-input instead of tt-query */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
/* line 27, ../../../components/sass/modules/_typeahead.scss */
.tt-hint {
  color: #999; }
/* line 31, ../../../components/sass/modules/_typeahead.scss */
.tt-highlight {
  font-weight: 800;
  color: #ffaa00; }
/* line 36, ../../../components/sass/modules/_typeahead.scss */
.tt-dropdown-menu {
  /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
  /*width: 422px;*/
  width: 100%;
  /*width: 15em;*/
  /*margin-top: 12px;*/
  margin-top: 0;
  padding: 8px 0;
  font-family: "gothambook", sans-serif;
  font-size: 1.285714286em;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /*border-radius: 8px;*/
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
/* line 52, ../../../components/sass/modules/_typeahead.scss */
.tt-suggestion {
  padding: 3px 20px;
  font-size: .875em;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  cursor: pointer;
  /**
   * Target only physician suggestions 
   */ }
  /* line 63, ../../../components/sass/modules/_typeahead.scss */
  .tt-dataset-physicians .tt-suggestion {
    padding: 0; }
    /* line 67, ../../../components/sass/modules/_typeahead.scss */
    .tt-dataset-physicians .tt-suggestion a {
      display: block;
      padding-top: .25em;
      padding-right: 1.25em;
      padding-bottom: .25em;
      padding-left: 1.25em; }
      /* line 74, ../../../components/sass/modules/_typeahead.scss */
      .tt-dataset-physicians .tt-suggestion a:hover {
        text-decoration: none; }
/* line 81, ../../../components/sass/modules/_typeahead.scss */
.tt-suggestion.tt-cursor {
  /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
  color: #fff;
  background-color: #00eaff; }
/* line 87, ../../../components/sass/modules/_typeahead.scss */
.tt-suggestion a {
  color: inherit; }
/* line 91, ../../../components/sass/modules/_typeahead.scss */
.tt-suggestion p {
  margin: 0; }

/*@import 'animate';*/
/*@import 'states/index';*/
