/*
 * COLORS
 */
$verydark: #333;
$white: #fff;
$gray: #808080;
$mediumgray: #b3b3b3;
$lightgray: #ddd;
$extralightgray: #f5f5f5;


$blue: #077cc2;

$primarycolor: $blue;
$secondarycolor: $mediumgray;
$accentcolor: fuchsia;
$linkcolor: $blue;

/*
 * TYPOGRAPHY
 */
/*$primaryfont: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
$primaryfont: 'gothambook', sans-serif;
$secondaryfont: Georgia, serif;

$fontcolor: $verydark;
$font-color-lighter: $gray;
$font-color-lightest: $mediumgray;

$font-size-base: 1.125em;
$fontlight: 200;
$fontnormal: 400;
$fontbold: 600;
$bodylineheight: 1.4;
$bodylineheight-bigger: 1.65;

/*
 * Layout
 */
$sitewidth: 62em;
$outside-gutter-small: .5em;
$outside-gutter-medium: 1.25em;
$outside-gutter-large: 2em;

/*
 * Misc
 */
$border-radius: 4px;

/**
 * For hover.css
 */

// Durations
$fastduration: .1s;
$mediumduration: .2s;
$slowduration: .5s;

/**
 * BREAKPOINTS
 * 
 */
$all            : 'all';
$screen         : 'screen';
$smallstart    : 20em;        // 320px
$mediumstart   : 30em;        // 480px
$largestart    : 48em;        // 768px
$desktopstart : $sitewidth; // 992px

