
<script id="fydResultsMetaTemplate" type="text/template">
  <div class="row fyd-results__report">
      <div class="col-sm-12">
          <div class="fyd-results__head"><%= count %> <%= who %> near <%= city %>, <%= state %></div>
          <% if (specialty) { %>
          <div class="fyd-results__subhead">Who practice <%= specialty %></div>
          <% } %>
      </div>
      <div class="fyd-results__filter clearfix">
          <div class="col-xs-12 col-sm-6">
              <div class="fyd-results__tags">
              <% if (specialty) { %>
                  <span class="fyd-results__tag"><%= specialty %>
                      <span data-role="remove"></span>
                  </span>
              <% } %>
                  <span class="fyd-results__tag">25 miles 
                      <span data-role="remove"></span>
                  </span> 
              </div>
          </div>
          <div class="col-xs-12 col-sm-6">
              <div class="fyd-results__sort">
                  <label class="fyd-results__label">Sort by</label>
                  <select class="fyd-results__select">
                      <option value="distance">Distance</option>
                      <option value="name">Name</option>
                      <option value="experience">Experience</option>
                  </select>
              </div>
          </div>
      </div>
  </div>
</script>